.projects-container {
  padding: 2rem 1rem;
}

.projects-grid {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card */
.card {
  --font-color: #323232;
 --bg-color: linear-gradient(
  135deg,
  hsla(48, 100%, 64%, 0.395) 0%,
  #fff8f161 50%,
  #faefef6b 100%
);

  width: 250px;
  height: 350px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a,
              9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

/* Image */
.card__img {
  height: 150px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content */
.card__descr-wrapper {
  padding: 15px;
  display: grid;
  height: 100%;
}

.card__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  font-size: 14px;
  color: var(--font-color);
}

/* Links */
.card__links {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.card__links div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card__links .link {
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: var(--font-color);
}

.card__links .link:hover {
  text-decoration: underline;
}

.svg {
  width: 22px;
  height: 22px;
  fill: var(--font-color);
}
